<template>
    <div>
        <SearchBar
            v-model="filter"
            class="mb-4"
        />

        <b-table
            ref="table"
            no-sort-reset
            no-provider-sorting
            no-provider-filtering
            show-empty
            stacked="md"
            :busy.sync="isLoading"
            empty-text="Aucune demande de téléchargement."
            empty-filtered-text="Aucune demande de téléchargement n'a été trouvée."

            :per-page="perPage"
            :current-page="page"
            :filter="filter"
            :fields="fields"
            :items="fetchData"
            @row-clicked="toggleRowDetails"
        >
            <template #cell(expand)="{ toggleDetails, detailsShowing }">
                <b-btn
                    size="sm"
                    class="table-action-button pull-right"
                    @click="toggleDetails"
                >
                    <span :class="`fa fa-chevron-${detailsShowing ? 'up' : 'down'}`" />
                </b-btn>
            </template>

            <template #cell(identifier)="{ item }">
                <a
                    :href="'/' + item.publicUrl"
                    rel="noopener noreferrer"
                    target="_blank"
                >{{ item.identifier }}</a>
            </template>

            <template #row-details="{ item }">
                <h2 class="h5 mb-4">
                    Download requests of file {{ item.name }}
                </h2>
                <FileDetails :file="item" />
            </template>

            <template #table-busy>
                <div class="text-center my-2">
                    <b-spinner class="align-middle" />
                    <strong>Loading...</strong>
                </div>
            </template>
        </b-table>

        <b-pagination
            v-if="totalRows > perPage"
            v-model="page"
            class="my-2 pull-right"
            :per-page="perPage"
            :total-rows="totalRows"
        />
    </div>
</template>

<script>
import TableMixin from '../../mixins/TableMixin'
import readableDate from '../../filters/ReadableDate'
import toCapitalizedWords from '../../filters/CapitalizedWords'
import FileDetails from '../Details/FileDetails'

export default {
    name: 'FileList',

    components: {
        FileDetails
    },

    filters: {
        readableDate,
        toCapitalizedWords
    },

    extends: TableMixin,

    computed: {
        apiUrl: function () {
            return this.$apiUrl.replace(encodeURIComponent('##action##'), 'files')
        },

        fields: () => [
            { key: 'identifier', label: 'File path', sortable: true },
            { key: 'expand', label: '', thClass: 'action-column' }
        ]
    }
}
</script>

<style lang="scss">

</style>
