<template>
    <b-list-group>
        <b-list-group-item
            v-for="(navItem, i) in nav"
            :key="i"
            href="javascript:void(0)"
            :active="i === currentNav"
            @click="navigate(i)"
        >
            {{ navItem.title }}
        </b-list-group-item>
    </b-list-group>
</template>

<script>
import FilesList from './Lists/FilesList'
import RequestsList from './Lists/RequestsList'
import UsersList from './Lists/UsersList'

export default {
    name: 'Nav',

    props: {
        value: {
            type: Object
        }
    },

    data: () => ({
        currentNav: 0
    }),

    computed: {
        /**
         * Array containing the displayed navigation items
         */
        nav: function () {
            return [
                {
                    title: 'List of protected files',
                    component: FilesList
                },
                {
                    title: 'List of download requests',
                    component: RequestsList
                },
                {
                    title: 'List of different users (based on email)',
                    component: UsersList
                }
            ]
        }
    },

    mounted () {
        this.navigate(0)
    },

    methods: {
        navigate: function (i) {
            this.currentNav = i
            this.$emit('input', this.nav[i])
        }
    }
}
</script>

<style scoped>

</style>
