<template>
    <b-container
        id="main"
        fluid
    >
        <b-row>
            <b-col
                cols="12"
                md="3"
            >
                <div class="logo">
                    <img
                        src=""
                        alt=""
                        class="img-fluid"
                    >
                </div>

                <Nav v-model="currentNavItem" />
            </b-col>

            <b-col
                v-if="currentNavItem"
                cols="12"
                md="9"
            >
                <h1 class="mb-3">
                    {{ currentNavItem.title }}
                </h1>

                <Component
                    :is="currentNavItem.component"
                    :api-url="currentNavItem.apiUrl"
                />
            </b-col>
        </b-row>
    </b-container>
</template>

<script>
import Nav from './components/Nav'

export default {
    name: 'App',

    components: { Nav },

    data: () => ({
        currentNavItem: null
    })
}
</script>

<style lang="scss">
html, body {
    font-size: 14px;
}

#main {
    @import '~bootstrap/scss/bootstrap';
    padding: 3rem;

    .b-table-details {
        background-color: $white;

        .list-group {
            margin: 1.5em;
            box-shadow: 0 0 15px 5px rgba($black, .07)
        }
    }

    // Fix bug with T3 Bootstrap3
    .collapse.show:not(.collapsing) {
        height: auto !important;
    }
}
</style>
