<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true" lang="en">

<f:comment><!--
    This is the minimal form requirement. It needs to have the following f:form signature and at least the user's email
--></f:comment>

<f:form action="validateRequestForm" method="POST" objectName="form" arguments="{ file: file.uid }" addQueryString="true">
    <f:form.textfield property="email" />
    <f:form.submit value="Submit" />
</f:form>

</html>
