<template>
    <b-input-group>
        <b-input
            type="text"
            placeholder="Filtrer la liste"

            :value="value"
            @input="$emit('input', $event)"
        />

        <b-input-group-append>
            <b-button
                variant="primary"
                @click="$emit('input', '')"
            >
                Reset
            </b-button>
        </b-input-group-append>
    </b-input-group>
</template>

<script>
export default {
    props: {
        value: {
            type: String,
            required: true
        }
    }
}
</script>
