<template>
    <div>
        <template v-if="!loading">
            <b-list-group v-if="requests.length">
                <b-list-group-item
                    v-for="request in requests"
                    :key="request.uid"
                    class="flex-column align-items-start"
                >
                    <div
                        v-b-toggle="`accordion-${request.uid}`"
                        class="d-flex w-100 justify-content-between"
                    >
                        <h3 class="h6 mb-1 text-truncate text-break">
                            {{ request.data.email }}
                        </h3>

                        <small class="text-muted">
                            Requested at {{ request.crdate.date | readableDate }}<br>
                            Link valid until {{ request.expirationDate.date | readableDate }}
                        </small>
                    </div>

                    <b-collapse
                        :id="`accordion-${request.uid}`"
                        :accordion="`file-accordion-${file.uid}`"
                        role="tabpanel"
                    >
                        <dl class="mb-1">
                            <template v-for="(value, key) in request.data">
                                <dt>{{ key | toCapitalizedWords }}</dt>
                                <dd>{{ value }}</dd>
                            </template>
                        </dl>
                    </b-collapse>
                </b-list-group-item>
            </b-list-group>

            <p v-else>
                No request was made to download this file.
            </p>
        </template>

        <template v-else>
            <div class="text-center my-2">
                <b-spinner class="align-middle" />
                <strong>Loading...</strong>
            </div>
        </template>
    </div>
</template>

<script>
import toCapitalizedWords from '../../filters/CapitalizedWords'
import readableDate from '../../filters/ReadableDate'

export default {
    name: 'FileDetail',

    filters: {
        toCapitalizedWords,
        readableDate
    },

    props: {
        file: {
            type: Object,
            required: true
        }
    },

    data: () => ({
        requests: [],
        loading: true
    }),

    computed: {
        apiUrl: function () {
            return this.$apiUrl.replace(encodeURIComponent('##action##'), 'fileDetail') +
                `&tx_idfileprotector_file_idfileprotectorfileprotector[file]=${this.file.uid}`
        }
    },

    mounted () {
        this.fetchRequests()
    },

    methods: {
        fetchRequests: async function () {
            this.loading = true

            try {
                this.requests = (await fetch(this.apiUrl).then(res => res.json()))
                this.loading = false
            } catch (e) {
                this.showError('Unable to fetch requests for this file.', e)
            }
        }
    }
}
</script>

<style scoped>

</style>
